html,
body {
  background-color: #FEFEFE;
  color: #454545;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  margin: 20px;
}

body {
  margin: 0;
}

.input-row {
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: #f7f7f7;
  border-color: #ccc;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #454545;
  font-weight: bold;
  line-height: 18px;
  margin: 20px 0;
  padding: 8px;
  resize: vertical;
  width: 200px;
}

input:disabled {
  background-color: #DEDEDE;
}

#error {
  color: red;
}
