* {
  box-sizing: border-box;
}

html,
body {
  background-color: #FEFEFE;
  color: #454545;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

#content {
  border-top: 0;
  border: 3px solid #5E5E5E;
  margin: 0 auto;
  max-width: 400px;
  min-height: 100%;
  width: 100%;
}

.header {
  background-color: #CECECE;
  border-bottom: 3px solid #5E5E5E;
  padding: 20px 0 20px 0;
  text-align: center;
  width: 100%;
}

.footer {
  background-color: #CECECE;
  border-top: 3px solid #5E5E5E;
  padding: 3px 0;
  text-align: center;
  width: 100%;
}

.subheader {
  background-color: #EEEEEE;
  padding: 8px 0 8px 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

h1, h3 {
  padding: 0;
  margin: 0;
}

.input-row {
  display: block;
}

.input-container {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  background-color: #EEEEEE;
  border-top: 2px solid #CCCCCC;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 80px;
}

.input-row.bottom-border .input-container label{
  border-bottom: 2px solid #CCCCCC;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: #f7f7f7;
  border: 2px solid #CCCCCC;
  border-bottom: 0;
  border-right: 0;
  color: #454545;
  font-weight: bold;
  height: 40px;
  line-height: 18px;
  margin-left: 30px;
  margin: 0;
  padding: 8px;
  position: absolute;
  resize: vertical;
  width: calc(100% - 80px);
}

.input-row.bottom-border .input-container input{
  border-bottom: 2px solid #CCCCCC;
}

.input-row .error {
  border-top: 2px solid #CCCCCC;
  color: red;
  display: none;
  font-size: 14px;
}

.input-row.error .error {
  display: block;
}

.input-row.error input {
  background-color: #FFACAC;
}
