@font-face {
  font-family: 'RobotoCondensed';
  src: url('/fonts/RobotoCondensed.ttf');
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 20px;
}

#root {
  line-height: normal;
  border-top: 0;
  border: 3px solid #5e5e5e;
  margin: 0 auto;
  max-width: 400px;
  min-height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.header {
  background-color: #bbbbbb;
  border-bottom: 3px solid #5e5e5e;
  padding: 20px 0 20px 0;
  text-align: center;
  width: 100%;
}

.settings {
  margin: 10px 10px 0 10px;
}

.settings-explanation {
  margin: 10px 0;
}

.settings-defaults {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.plate-choices {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0px 10px
}

.plate-choices .checkbox.pounds {
  margin-left: 15px;
}

.plate-choices .checkbox.kilos {
  margin-left: 9px;
}

.help-content {
  font-size: 18px;
  margin: 10px 10px 0px 10px;
}

.help-content ul {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 10px;
}

.help-actions {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.results {
  font-weight: bold;
  font-size: 22px;
}

.results .target {
  padding: 5px;
  background-color: #efefef;
  border-bottom: 2px solid #cccccc;
}

.results .e1rm {
  padding: 5px;
  background-color: #dddddd;
}

.bar-loader {
  align-items: center;
  display: flex;
  height: 165px;
  margin: 20px 0;
  place-content: center;
  justify-content: space-between;
  margin: 10px;
}

.bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-weight-container {
  display: flex;
  width: 85px;
}

input.bar-weight {
  border-radius: 5px;
  border: 2px solid black;
  display: inline;
  font-weight: bold;
  height: 40px;
  padding-left: 5px;
  padding: 2px;
  position: relative;
  width: 85px;
}

.bar-weight-unit {
  display: inline;
  position: relative;
  right: 22px;
  top: 7.5px;
  user-select: none;
  z-index: 1;
}

.actual-bar-weight {
  font-size: 14px;
  text-align: center;
}

.bar-disclaimer {
  font-size: 14px;
  font-weight: bold;
  margin: 0 15px;
  padding-bottom: 12px;
  text-align: center;
}

.plates {
  align-items: center;
  display: flex;
  margin: 20px 0;
  place-content: center;
}

.bar {
  background: #606060;
}

.bar.left {
  height: 12px;
  width: 50px;
}

.bar.left2 {
  height: 28px;
  width: 5px;
}

.bar.right {
  width: 40px;
  height: 18px;
}

.collar {
  background: #a6a6a6;
  border-radius: 4px;
  border: 2px solid #8c8c8c;
  height: 40px;
  width: 20px;
}

.plate {
  border-radius: 4px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  text-orientation: upright;
  width: 22px;
  writing-mode: vertical-rl;
}

.plate.k25,
.plate.l55 {
  background: #d90000;
  border: 2px solid #970000;
  height: 160px;
}

.plate.k20,
.plate.l45 {
  background: #0000b7;
  border: 2px solid #170068;
  height: 160px;
}

.plate.k15,
.plate.l35 {
  background: #eaea14;
  border: 2px solid #b1b100;
  color: black;
  height: 160px;
}

.plate.k10,
.plate.l25 {
  background: green;
  border: 2px solid #004200;
  height: 160px;
}

.plate.k5,
.plate.l10 {
  background: white;
  border: 2px solid #ccc;
  color: black;
  height: 120px;
}

.plate.k2p5,
.plate.l5 {
  background: black;
  border: 2px solid black;
  height: 110px;
  line-height: 14px;
  width: 17px;
}

.plate.k1p25,
.plate.l2p5 {
  background: silver;
  border: 2px solid grey;
  color: black;
  height: 100px;
  line-height: 14px;
  width: 17px;
}

.plate.k0p5,
.plate.l1p25 {
  background: green;
  border: 2px solid #004200;
  height: 85px;
  line-height: 8px;
  width: 12px;
}

.plate.k0p25,
.plate.l0p5 {
  background: silver;
  border: 2px solid gray;
  color: white;
  height: 85px;
  line-height: 8px;
  width: 12px;
}

.plate.k0,
.plate.l0 {
  display: none;
}

.loader-options {
  display: flex;
  padding-top: 8px;
}

.flex-pad {
  flex: 1;
}

.loader-options label {
  background: none;
  border: none;
  font-size: 20px;
  height: fit-content;
  line-height: 20px;
  margin: 0;
  padding: 0 8px;
  width: fit-content;
}

.options {
  background-color: #cecece;
  border-top: 3px solid #5e5e5e;
  border-bottom: 3px solid #5e5e5e;
  padding: 5px 0;
}

.options.one {
  font-weight: bold;
  text-align: center;
}

.options.two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.options label.rounding {
  background: none;
  border: none;
  line-height: 30px;
  line-height: 40px;
  width: unset;
}

.options select.rounding {
  font-size: 20px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #cecece;
  border-top: 3px solid #5e5e5e;
  padding: 3px 0;
  width: 100%;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.footer button, a {
  margin-top: 3px;
  margin-right: 10px;
}

.attribution {
  font-size: 16px;
}

.subheader {
  background-color: #eeeeee;
  padding: 8px 0 8px 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 23.4px;
}

.input-row {
  display: block;
}

.input-container {
  position: relative;
}

.input-row label {
  background-color: #eeeeee;
  border-top: 2px solid #cccccc;
  display: inline-block;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 80px;
}

.input-row.border-bottom .input-container label {
  border-bottom: 2px solid #cccccc;
}

input.text {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: #f7f7f7;
  border: 2px solid #cccccc;
  border-bottom: 0;
  border-right: 0;
  color: #454545;
  font-size: 22px;
  font-weight: bold;
  height: 40px;
  line-height: 18px;
  margin-left: 30px;
  margin: 0;
  padding: 8px;
  position: absolute;
  resize: vertical;
  width: calc(100% - 80px);
}

input.text:focus-visible {
  border: 2px solid #2b7fff;
  border-bottom: none;
  border-right: none;
  box-shadow:
    0 2px #2b7fff,
    inset -2px 0px #2b7fff;
  outline: none;
  z-index: 1;
}

input.e1rm-multiplier {
  border: 1px solid grey;
  display: inline;
  height: 30px;
  padding: 2px;
  position: relative;
  padding-left: 5px;
  width: 60px;
}

.e1rm-percent {
  margin-right: -10px;
  display: inline;
  position: relative;
  right: 20px;
  user-select: none;
  z-index: 1;
}

.input-row.border-bottom .input-container input {
  border-bottom: 2px solid #cccccc;
}

.input-row.border-bottom .input-container input:focus-visible {
  border-bottom: 2px solid #2b7fff;
  box-shadow: inset -2px 0px #2b7fff;
}

.input-row .error {
  border-top: 2px solid #cccccc;
  color: #c00000;
  display: none;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  text-align: center;
}

.input-row.border-bottom .error {
  border-top: none;
  border-bottom: 2px solid #cccccc;
}

.input-row.error .error {
  display: block;
}

.input-row.error input {
  background-color: #ffacac;
  box-shadow:
    inset 2px 2px #c00000,
    inset -2px -2px #c00000;
}
